<div id="album" *ngIf="album">
  <header class="album-header">
    <div class="row">
      <div class="col-md-4">
        <div *ngIf="album.images.length > 0">
          <img class="album-thumb" src="{{album.images[0].url}}">
        </div>
      </div>
      <div class="col-md-8">
        <h4 *ngIf="album.artists.length > 0">
          <span *ngFor="let artist of album.artists">
            {{artist.name}}
          </span>
        </h4>
        <h2>{{album.name}}</h2>
        <h5>Release Date: {{album.release_date}}</h5>
        <p>urls:{{album.external_urls}}</p>
        <a class="btn btn-primary" target="_blank" href="{{album.external_urls.spotify}}">View In Spotify</a> 
      </div>
    </div>
  </header>
</div>